
.background-vermelho{

    background-image: url('../img/backghround.png');


}


.lista-de-tarefas{

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;



    margin: 20px;
    padding: 40px;
   
    gap: 20px;


}

.campo-robo{

    display: grid;

    padding: 50px;

    border: solid 1px black;

    border-radius: 20px;
    justify-items: center;

    background-color: #e0030686;
    border: solid 6px #ff00007c;
    box-shadow: 5px 5px 25px rgb(184, 0, 0);
    border-radius: 70px;

    gap: 10px;

}
.campo-robo h1{


    text-align: center;
    color: white;
    border-radius: 20px;
    border-radius: 50px;
    background-color: rgb(94, 18, 18);


}
.campo-robo h2{

    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    border-radius: 50px;
    background-color: rgb(94, 18, 18);
}
.campo-robo img{
    margin-left: 10px;
    align-self: center;
    text-align: center;
}
.formatar-grid-list{
    
    display: flex;
    justify-content: space-around;


}
.lista-de-tarefas .titulo-adicionar{

    align-self: top;
    text-align: center;
    
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 12px;
   
    text-transform: uppercase;

    color: white;
}


.secao-adicionar-tarefas{


    display: grid;

    background-color: rgba(182, 13, 13, 0.719);

    padding: 25px;
    border: 1px solid #ff05057a;
    border-radius: 10px;

    justify-items: center;
}



.secao-adicionar-tarefas label{



    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    align-self: center;
    color: white;

   

}

.secao-adicionar-tarefas input{

    margin-top: 10px;
    height: 2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(116, 1, 1);
    color: white;
    border: 1px solid #cf00009d;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.2rem;

}

.gestor-de-tarefas{
    background-color: wheat;

    padding: 25px;
    border: 1px solid #000;
    border-radius: 10px;
}

.gestor-de-tarefas h2{
    font-size: 1.8rem;
    background-color: var(--color-vermelho-angular);
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    text-transform: uppercase;
    color: white;
}


.gestor-de-tarefas ul {

  
    padding-inline-start: 0;

    

}

.gestor-de-tarefas li{
    list-style-type: none;
    margin: 2px 0 10px 0;
    background-color: rgba(196, 196, 196, 0.37);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
.gestor-de-tarefas li:hover{
    background-color: rgba(252, 141, 38, 0.562);
}
.adicionar-tarefa-button{
   


    color: white;
    padding: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: 0.3s;
    width: 100%;


    background-color: rgb(94, 3, 3);
    border: 1px solid #500000;
   
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 1.2rem;

}
.adicionar-tarefa-button:hover{
    background-color: rgb(24, 1, 1);
    font-size: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.botoes-gestor-tarefas button{
    background-color: transparent;
    border: none;
}
.termina:hover{

    color: green;


}
.lixeira:hover{


    color: red;

}

.code-model-laranja{

    color: yellow;
    font-weight: bold;
    font-style: italic;

}