<!DOCTYPE html>
<html lang="pt-br" ng-app="meuApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="at3.css">
    <link rel="icon" href="../img/angular roboto.png">
    <title>Dropdown Dinâmico e Elementos Condicionais - Atividade 3 - AngularJS</title>
</head>
<body ng-controller="meuController" class="background-vermelho">
    <header>
        <h1> <a href="../secao-atividades/secao-atividade.html"> <i class="bi bi-dice-3-fill"></i>  Atividade 3 - Dropdown Dinâmico e Elementos Condicionais </a></h1>
    </header>
    <main class="main-class">
        <div class="conteudo-aplicado">
            <div class="conteudo-principal">
                <div class="dropdown-section box-person">
                    <h2>Dropdown Dinâmico</h2>
                    <select ng-model="teste" ng-options="item for item in itens"></select>
                    <p>Selecionado: {{ teste }}</p>
                </div>
                <div class="condicional-section box-person">
                    <h2>Elementos Condicionais</h2>
                    <button ng-click="mostrar = !mostrar">Alternar Visibilidade</button>
                    <p ng-show="mostrar">Este parágrafo é visível.</p>
                    <p ng-if="mostrar">Este parágrafo também é visível.</p>
                </div>
            </div>
        </div>
        
        <div class="grid-separador"> 
            <div class="explicacao-classica " style="padding: 60px;">
                <h2 style="margin-bottom: 15px; "> O que é um Dropdown Dinâmico? </h2>
                <p>Um dropdown dinâmico é uma lista suspensa que permite ao usuário 
                    selecionar uma opção de um conjunto de opções. 
                    O termo "dinâmico" indica que o conteúdo da lista pode mudar com base
                     nos dados fornecidos pelo controlador AngularJS.</p>
                     
                 <p> <strong>Componentes Principais</strong>
                    <ul>
                        <li> <strong>ng-model:</strong>  Liga a seleção do dropdown a uma variável no controlador.</li>
                        <li> <strong>ng-options:</strong>  Itera sobre uma lista de itens e cria as opções do dropdown.</li>
                    </ul>
    
                    <h3 style="margin-bottom: 15px;">Como Funciona?</h3>
                    
                    Vamos usar uma analogia: imagine que você está em um restaurante e o garçom lhe dá um cardápio com diferentes opções de pratos.
                     O <strong>dropdown</strong>  é como esse cardápio, e <strong>ng-options</strong>  é o garçom que preenche o cardápio com os pratos disponíveis.</p>    
            </div>
            <div class="campo-laranja" style="padding:70px;">
                <h2 style="margin-bottom: 20px; color: rgb(0, 102, 255);">Elementos Condicionais</h2>
                <p> <h3>O que são Elementos Condicionais?</h3>
                    
                    Elementos condicionais são partes da interface que só são exibidas quando certas condições são atendidas. 
                    No AngularJS, usamos diretivas como ng-show e ng-if para controlar a visibilidade desses elementos.
                </p>
                <h3>Componentes Principais</h3> 
                <ul>
                    <li> <strong>ng-show:</strong>Mostra ou esconde um elemento com base em uma expressão booleana.</li>
                    <li><strong>ng-if:</strong> Adiciona ou remove completamente um elemento do DOM com base em uma expressão booleana.</li>
                </ul>
                <h3>Como Funciona?</h3> 
                <p>Vamos usar outra analogia: imagine que você tem uma lâmpada controlada por um interruptor. 
                    <strong>ng-show </strong> é como acender ou apagar a lâmpada (a lâmpada ainda está lá, mas pode estar apagada),
                     enquanto <strong>ng-if</strong>  é como conectar ou desconectar a lâmpada (a lâmpada é removida quando está desligada).</p>    
            </div>
        </div>

        <div class="configuracao-robo">
            <div class="condicional-section centralizar-textos box-person-controlador-de-mensagem">
                <h2>Controlador de Mensagens</h2>
                <p> Aperte o botão para Iniciar o chat do Robo AngularJS</p>
                <button ng-click="mostrarMsgRobo = !mostrarMsgRobo">Visualizar Mensagem</button>
            </div>

            <div class="campo-robo">
                <h1 style="text-align: center;">ANGULAR JS ROBO</h1>
                <img src="../img/angular roboto.png" alt="foto do robo do angularJS">
                <h2 ng-show="mostrarMsgRobo">{{ textoRobo }}</h2>
            </div>

            <div class="dropdown-section box-person-controlador-de-mensagem">
                <h2>Dropdown Dinâmico</h2>
                <p>Selecione uma opção para ver a mensagem do Robo</p>
                <select ng-model="selecionado" ng-options="item for item in objeto" ng-change="atualizarTextoRobo()"></select>
            </div>
        </div>
        
        <div class="referencias">
            <h2> Recursos Adicionais </h2>
            <ul>
                <li><a href="https://docs.angularjs.org/api/ng/directive/ngOptions">AngularJS Documentation - ngOptions</a></li>
                <li><a href="https://www.w3schools.com/angular/ng_ng-show.asp">W3Schools - AngularJS ng-show / ng-hide</a></li>
                <li><a href="https://www.w3schools.com/angular/ng_ng-if.asp#:~:text=AngularJS%20ng%2Dif%20Directive&text=The%20ng%2Dif%20directive%20removes,is%20added%20in%20the%20DOM.">W3Schools - AngularJS ng-if</a></li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Plano de Estudo Angular. Todos os direitos reservados.</p>
    </footer>
    <script>
    var app = angular.module('meuApp', []);
    app.controller('meuController', function($scope, $timeout) {

    $scope.objeto = ["Qual é o seu nome?", "Me conte uma curiosidade!", "O que é Dropdown Dinâmico?"];
      
    $scope.itens = ["Opção de numero 1 do dropdown dinamico","Opção de numero 2 do dropdown dinamico ","Opção de numero 3 do dropdown dinamico "];
    $scope.mostrar = true;

    // Inicializar texto do robo
    $scope.textoRobo = "Selecione uma opção para ver a mensagem do Robo";


    // Função para efeito de digitação
 

    function typeEffect(element, text, callback) {
            $scope[element] = "";  // Resetar o texto antes de iniciar o efeito
            let i = 0;
            function type() {
                if (i < text.length) {
                    $scope[element] += text.charAt(i);
                    i++;
                    $timeout(type, 50);
                } else if (callback) {
                    callback();
                }
            }
            type();
        }


    // Função para atualizar o texto do robo com base na seleção
    $scope.atualizarTextoRobo = function() {
        console.log("Lista de itens:", $scope.itens); // Log da lista de itens
        console.log("Valor selecionado:", $scope.selecionado); // Log do valor selecionado

        // Obter os valores selecionados de todos os selects
      



        var mensagens = [
            "Olá, eu sou o Robo AngularJS.",
            "Você Sabia que o Angular JS tem 13 anos?",
            "Um Dropdown Dinâmico é uma lista suspensa que atualiza suas opções com base em uma seleção anterior ou uma fonte de dados em tempo real."
        ];


        if($scope.selecionado == "Qual é o seu nome?"){
            $scope.textoRobo = mensagens[0];
            typeEffect('textoRobo', mensagens[0]);

        } else if($scope.selecionado == "Me conte uma curiosidade!"){
            $scope.textoRobo = mensagens[1];
            typeEffect('textoRobo', mensagens[1]);
        } else if($scope.selecionado == "O que é Dropdown Dinâmico?"){
            $scope.textoRobo = mensagens[2];
            typeEffect('textoRobo', mensagens[2]);
        } else {
            $scope.textoRobo = "Selecione uma opção para ver a mensagem do Robo";
        }


    };

    // Inicializar valor selecionado para chamar a função ao carregar
    $scope.selecionado = $scope.itens[0];
    console.log("Selecionado inicial: ", $scope.selecionado);
    $scope.atualizarTextoRobo();
});
    </script>
</body>
</html>