.campo-laranja{

    margin: 2rem;

    background-color: var(--color-vermelho-angular);
    padding: 2rem;
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}

.campo-laranja  ul{

    padding: 0;
    margin: 30px;
    display: grid;
    gap: 10px;


}