.campo-laranja{

    margin: 2rem;

    background-color: rgba(243, 117, 0, 0.829);
    padding: 2rem;
    color: white;
    border-radius: 40px;
    border: solid 2px rgb(248, 124, 23);
    box-shadow: 5px 5px 25px rgb(238, 149, 16);
}

.campo-laranja  ul{

    padding: 0;
    margin: 30px;
    display: grid;
    gap: 10px;


}