.exemplo-code{


    margin: 2rem;

    border: solid 2px rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.308);

    color: white;
    

    padding: 20px;
    margin: 2rem;

}
.exemplo-code h2{

    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}
.exemplo-code p{

    text-align: center;

}
.exemplo-code pre, code{ 
    padding-right: 100px;
    margin: 1.2rem;
    background-color: rgb(0, 0, 0);
    color: red;

}