.referencias{
    text-align: center;
    padding: 25px;
    border: solid 2px black;
    background-color: rgb(1, 181, 187);
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}
.referencias ul{

    list-style-type: none;
    margin-right: 2rem ;

}
.referencias ul li{
    margin: 10px;
    text-decoration: none;
}
.referencias ul li a{
    color: white;
    margin: 10px;
    text-decoration: none;

}