
.link-voltar{
  text-decoration: none;
  color: white;
}
header {
    color: white;
    text-align: center;
    background: #5c0000e5;

}
header h1 {

  padding: 20px;

  font-size: 2rem;


  font-weight: 600;
}