
.link-voltar{
  text-decoration: none;
  color: white;
}
header {
    color: white;
    text-align: center;
    background: #5c0000e5;

    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {

  padding: 20px;

  font-size: 2rem;


  font-weight: 600;
}
header a{


  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;

  text-decoration: none;
  transition: 1.2s;


}
header a:hover{

  color: yellow;

}
.header-noturno{

  background-color: rgba(30, 7, 131, 0.733);
  box-shadow: 5px 5px 25px black;
  display: flex;
  align-items: center;
  justify-content: center;


}


